.container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

#header {
    background: palegoldenrod;
    flex-basis: 100px;
}

.container_main {
    height: 300px;
    display: flex;
    column-gap: 10px;
}

#menu {
    background: plum;
    flex-basis: 200px;
}

.container_content {
    height: 300px;
    display: flex;
    row-gap: 10px;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    flex-grow: 2;
    /*background: chartreuse;*/
}

.post {
    background: lightskyblue;
    flex-grow: 1;
}

#footer {
    background: palegoldenrod;
    flex-basis: 100px;
}
