.container__column {
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    flex-direction: column;
}

.container__row {
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    flex-direction: row;
}

.bg-color-grey {
    background: darkgrey;
}

.bg-color-white {
    background: white;
}

.flex-basis150 {
    flex-basis: 150px;
}

.height300 {
    height: 300px;
}

.main__left {
    flex-grow: 1;
}

.main__right {
    flex-grow: 2;
}